<h1>Tra cứu Video</h1>
<form action="/client/tracuu" method="post" enctype="multipart/form-data"> 
    <label for="videoFile">Chọn tệp Video:</label>
    <input type="file" id="videoFile" name="videoFile" accept="video/*" required>
    <br>
    <label for="tenMau">Độ tuổi phù hợp xem video: </label>
    <input type="text" id="tenMau" name="tenMau" readonly value="{{tuoi}} tuổi">
    <input type="submit" value="Tra cứu" class="btn btn-success">
</form>  